	.card {
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	  transition: 0.3s;
	  width: 250px;
	  height: 400px;
	  align-items: center;
	  
	}

	.card:hover {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
	}

	.container {
	  padding: 2px 16px;
	  align-content: center;
	}

	.card-body{
	  padding: 16px;
	}
	#card-title{
		color: #009696;
		font-style: normal;
		display: block;
  		width: 200px;
  		overflow: hidden;
  		white-space: nowrap;
  		text-overflow: ellipsis;
	}
	.card-text{
		width: 210px;
		height: 20px;
		font-style: normal;
		font-size: 12px;
		padding: 3px;
		overflow: hidden;

	}
	#btn-join{
		width: 220px;
		margin-top: 10px;
	}
	p#target{
		font-size: 10px;
		padding: 0;
		margin: 0;
	}
	#myProgress {
	  width: 210px;
	  height: 10px;
	  background-color: #ddd;
	  margin: 5px;
	  padding-bottom: 10px;
	  border-radius: 5px;
	}

	#myBar {
	  width: 0%;
	  height: 10px;
	  background-color: #faa91e;
	  border-radius: 5px;
	}
	#table-card td{
		padding-bottom:20px;
	}
	span.hide-txt{
		text-align: right;
	}